.movieWrapper {
  width: calc(18% - 10px);
  min-width: calc(18% - 10px);
  flex: 1 0 auto;
  height: 100%;
  width: 280px;
  display: flex;
  margin: 15px 0 ;
  flex: initial;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movieThumbNail {
  position: relative;
  border: 1px solid rgb(255, 255, 255);
}

.moviePoster {
  height: 310px;
  width: 280px;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  display: block;
  transition: 0.25s ease;
  backface-visibility: hidden;
}

.movieTemp {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.movieTitle {
  font-family: 'Fjalla One', sans-serif;
  opacity: 0;
  color: white;
  font-size: 23px;
  font-weight: 200;
  transition: opacity 0.25s ease;
}

.movieReleaseDate {
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
  transition: opacity 0.25s ease 0.125s;
}

.movieOverView {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 150px);
  font-size: 13px;
  font-weight: 200;
  line-height: 1.4;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.125s;
}

.overview {
  height: 8000px;
}

.movieOverView::-webkit-scrollbar {
  display: none;
}

.buttonHolder {
  display: flex;
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
  left: calc(100%/2 - 20px);
  justify-content: space-between;
  opacity: 0;
}

.addMovieBtn {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  border-radius: 32px;
  outline: 0;
  opacity: 0;
}

.addMovieBtn:hover {
  border: 2px solid #ffffff;
}

.movieThumbNail:hover {
  box-shadow: inset 0 0 20px rgb(244, 244, 244);
}

.movieThumbNail:hover .moviePoster {
  opacity: 0.4;
}

.movieThumbNail:hover .movieTemp {
  pointer-events: all;
  opacity: 1;
}

.movieThumbNail:hover .movieTemp .movieTitle {
  opacity: 1;
}

.movieThumbNail:hover .movieTemp .movieReleaseDate {
  opacity: 1;
}

.movieThumbNail:hover .movieTemp .movieOverView {
  margin-top: 35px;
  opacity: 1;
}

.movieThumbNail:hover .movieTemp .buttonHolder {
  opacity: 1;
}

.movieThumbNail:hover .movieTemp .buttonHolder .addMovieBtn {
  opacity: 1;
}
