.searchBar {
  width: 20%;
  margin: 0 40%;
  padding: 0 0 15px 0;
}

.searchBoxForm {
  display: flex;
  width: 100%;
}

.searchBox {
  display: flex;
  position: relative;
  width: 80%;
  margin: 5px;
  align-items: center;
  background-color: #fffbf8;
  box-sizing: border-box;
  border-radius: 4px;
}

.options {
  margin: 5px;
  border: 0.5px;
  font-family: 'Mukta', sans-serif;
  border-radius: 2px 5px 2px 5px;
  outline: 0;
  width: 20%;
}

input[type=text] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
  padding-left:15px;
  width: 100%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus, .searchBtn {
    outline: 0;
}

.searchBtn {
  right: 1px;
  position: absolute;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: 42px;
  height: 30px;
  background-color: white;
}

.searchBtn img {
  position: absolute;
  bottom: 5px;
  left: 11px;
}
