@import "https://fonts.googleapis.com/css?family=Hind";
@import "https://fonts.googleapis.com/css?family=Ubuntu";
@import "https://fonts.googleapis.com/css?family=Poppins";
@import "https://fonts.googleapis.com/css?family=Fjalla+One";
@import "https://fonts.googleapis.com/css?family=Mukta";

/** color:
  * green - rgb(106, 252, 93)
  * yellow - rgb(252, 249, 93)
  * red -
  * black - rgb(0, 0, 0)
  * grey - rgb(204, 204, 204)
  * text-shadow - rgba(0, 0, 0, .2)
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}

body {
  background-color: black;
}






/**/
