.categoryContainer {
  width: calc(18% - 10px);
  max-width: calc(18% - 10px);
  flex: 1 0 auto;
  height: 100%;
  width: 280px;
  display: flex;
  margin: 15px 0 ;
  flex: initial;
  justify-content: space-around;
  flex-wrap: wrap;
}

.containerBackground {
  position: relative;
  border: 1px solid rgb(255, 255, 255);
}

.containerImage {
  height: 310px;
  width: 280px;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  display: block;
  transition: 0.25s ease;
  backface-visibility: hidden;
}

.info {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title {
  font-family: 'Fjalla One', sans-serif;
  opacity: 0;
  color: white;
  font-size: 23px;
  font-weight: 200;
  transition: opacity 0.25s ease;
}

.release {
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
  transition: opacity 0.25s ease 0.125s;
}

.buttonHolder {
  display: flex;
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
  left: calc(100%/2 - 20px);
  justify-content: space-between;
  opacity: 0;
}

.revMovieBtn {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  border-radius: 32px;
  outline: 0;
  opacity: 0;
}

.revMovieBtn:hover {
  border: 2px solid #ffffff;
}

.categoryContainer:hover {
  box-shadow: inset 0 0 20px rgb(244, 244, 244);
}

.categoryContainer:hover .containerImage {
  opacity: 0.4;
}

.categoryContainer:hover .info {
  pointer-events: all;
  opacity: 1;
}

.categoryContainer:hover .info .title,
.categoryContainer:hover .info .release {
  opacity: 1;
}

.categoryContainer:hover .info .buttonHolder {
  opacity: 1;
}

.categoryContainer:hover .info .buttonHolder .revMovieBtn {
  opacity: 1;
}
